/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
html{
    font-family: Whitney, Helvetica, Arial, sans-serif;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    /* debug */
    min-height: 100px;
    /* border: 2px solid black; */
}

/* debug */

/* #water{
    background-color: #ADD8E6;
}

#blue{
    background-color: #00008B;
} */

.flex-container{
    display: flex;
    justify-content: space-around;
    width: 70%;
    color: white;
    
    /* debug
    background-color: #DAA520;
    border: 2px dashed black; */
}

.rr{
    flex-direction: row-reverse;
}

.end{
    text-align: end;
}

.centre{
    text-align: center;
}

.button{
    padding: 0.9em;
    border-radius: 2rem;
    text-align: center;
    color: black; 
}

.grey{
    /* background-color:#D3D3D3; */
    background-color: #f6f6f6;
}


.black{
    background-color: #23272A;
    /* border-bottom: 1px solid white; */
}

.red{
    width: 30%;
    margin-top: 3rem;

    /* debug */
    /* background-color:#F08080;
    border: 1px dashed black; */

}

.centre{
    justify-content: center;
    align-items: flex-start;
}

/* header */

.jumbotron{
    flex-direction: column;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}
.logo{
    width: 20%;
}

.central-section ul {
    list-style: none;
    text-align: center;
}

.central-section li{
    display: inline-block;
    margin-right: 3em;
}

.central-section{
    width: 60%;

}

.login{
    width: 20%;
}

.login span{
    width: 10%;
    text-align: right;
    vertical-align: center;
    background-color: white;
    color: black;
    padding: 0.9em;
    border-radius: 2rem;
}

.central-section span{
    margin-right: 1em;
    font-size: 1em;
}


.flex-pink{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 3em;
    margin-bottom: 10rem;
    text-align: center;
    color: white;

    /* debug */
    /* height: 20rem;
    background-color:#EE82EE; */
}

.text{
    width: 60%;
    margin: 0 auto;
}
 h2{
    font-size: 3em;
    margin-bottom: 1em;

}

 p{
    font-size: 1em;
    line-height: 2rem;
}

.mini-contenitore{
    width: 30%;
    display: flex;
    align-self: center;
    margin-top: 1em;
}

.white{
    background-color: white;
    vertical-align: center;
}

.nero{
    background-color: black;
    color: white;
}
/* main */



.flex{
    display: flex;
    width: 70%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.debug{
    min-height: 23em;
}

.image{
    width: 60%;
    margin-left: 8rem;
    display: flex;
    justify-content: center;
    /* debug
    background-color:#1E90FF;
    border: 1px dashed black; */
}

.testo{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;

    /* debug */
    /* background-color:#FFC0CB;
    border: 1px dashed black; */
    
}


.testo h2 {
    text-align: left;
}

.testo {
    text-align: left;
    margin-left: 5em;
}
.flex-green{
    width: 70%;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* debug */
    /* background-color:#228B22;
    height: 50rem; */
}

.testo-top{
    width: 60%;
}

.cta{
    margin-top: 5rem;
    
}

.stelle{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: center;
    padding: 3rem;
    background-repeat: no-repeat;
}
/* fotter */

.colonna{
    width: calc(100% / 4);
    margin-top: 3rem;
    
    /* debug */
    /* background-color:#20B2AA; */
    /* border: 1px dashed white; */
}

.flex-footer ul{
    /* display: flex;
    flex-direction: column; */


}
.acquamarina{
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1em;
    margin-bottom: 0;
    border-top: 1px solid #7289da;
    /* debug */
    /* background-color: #7FFFD4; */
}


.mtt{
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.colonna h4{
    color: #7289da;
}
.colonna ul li{
    list-style: none;
    margin-top: 1em;
    color: white;
    vertical-align:middle;  
}

.red h3{
    color: #7289da ;
}

.red ul{
    list-style: none;
    margin-top: 1em;
    color: white;
}

.red ul li img{
    width: 10%;
    vertical-align: middle;

}

.red ul li{
    margin-top: 1em;
}

.red ul li i{
    margin-right: 1em;
}

.fgiu{
    vertical-align: middle;
}


.bviola{
    background-color: #7289da;
    color: white;
    vertical-align: middle;

}
